name: Tests

on:
  pull_request:
    branches:
      - develop
    paths:
      - "backend/**"
      - ".github/workflows/*.backend.yml"
  push:
    branches:
      - develop
    paths:
      - "backend/**"
      - ".github/workflows/*.backend.yml"

jobs:
  health-check:
    name: Health check
    runs-on: ubuntu-latest
    working-directory: backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependency
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Setup python environment
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install requirements
        run: python -m pip install -r requirements.txt

      - name: Run unit tests
        run: pytest -m unit

  build-test:
    name: Build image and test
    runs-on: ubuntu-latest
    working-directory: backend
    env:
      IMAGE_NAME: scheduler-test-image

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: accounts
        ports:
          - 5496:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build . -t $IMAGE_NAME

      - name: Run migrations
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "python manage.py migrate"

      - name: Run unit tests
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "pytest -m unit"

      - name: Run integration tests
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "pytest -m integration"

      - name: Run acceptance tests
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "pytest -m acceptance"

  build-test-push:
    name: Build image, test, and push to registry
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    env:
      PROJECT_ID: ${{ secrets.PROJECT_ID }}
      SERVICE_NAME: examsched
      RUN_REGION: europe-west3
      IMAGE_NAME: gcr.io/examsched/examsched
      DATABASE_HOST: postgres

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: accounts
        ports:
          - 5496:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16.14.2
        working-directory: frontend

      - name: Build react app
        run: npm run build

      - name: Login to GCR
        uses: docker/login-action@v1
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Build Docker image
        working-directory: backend
        run: docker build . -t $IMAGE_NAME

      - name: Run migrations
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "python manage.py migrate"

      - name: Run unit tests
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "pytest -m unit"

      - name: Run integration tests
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "pytest -m integration"

      - name: Run acceptance tests
        run: docker run -e DATABASE_HOST='172.17.0.1' $IMAGE_NAME sh -c "pytest -m acceptance"

      - name: Tag image
        run: docker tag $IMAGE_NAME $IMAGE_NAME:dev-latest

      - name: Push image to GCR
        run: docker push $IMAGE_NAME:dev-latest